@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    padding: 8px;
    background-color: #1F2937;
    justify-content: space-around;
}
.title-links, .links{
    padding: 0;
    margin: 0;
}

.title-links{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.links{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.container-top{
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.title-top{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}
.cont-top-left p{
    color: #E5E7EB;
}

.btn{
    padding: 8px 2rem;
    border-radius: 8px;
    font-size: 18px;
    color: #F9FAF8;
    border: none;
    background-color: #3882F6;
}

.top-image{
    color: #F9FAF8;
}

/* Items */

.squares-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
}
.item-image{
    border: 4px solid #3882F6;
    width: 160px;
    height: 160px;
    border-radius: 1rem;
}

.py-2{
    padding: 2rem 0;
}

.py-3{
    padding: 3rem 0;
}
.py-5{
    padding: 6rem 0;
}

.pb-6{
    padding-bottom: 6rem;
}

/* Quote */
.quote-section{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-container{
    display: flex;
    flex-direction: column;
    width: 53.3rem;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    align-self: center;
}

.autor {
    color: #1F2937;
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

/* Sign up */

.signUp-section{
    display: flex;
    background-color: white;
    justify-content: space-evenly;  
}

.signUp-container{
    background-color: #3882F6;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.7rem;
    flex-wrap: wrap;
}

.signUp-container h4 {
    color: #F9FAF8;
    font-size: 24px;
}

.signUp-container .su-btn-cont .btn{
    border: 2px solid #F9FAF8;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}




